name: Build and run functional tests

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
      - develop
      - develop-sync
  pull_request:

jobs:
  build_application:
    name: Build application using the reusable workflow
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_build.yml@v1
    with:
      upload_app_binaries_artifact: "compiled_app_binaries"
      builder: ledger-app-builder

  standalone_tests:
    name: Run standalone tests using the reusable workflow
    needs: build_application
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_ragger_tests.yml@v1
    with:
      download_app_binaries_artifact: "compiled_app_binaries"

  swap_tests:
    name: Run swap tests using the reusable workflow
    needs: build_application
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_swap_tests.yml@v1
    with:
      download_app_binaries_artifact: "compiled_app_binaries"
